<header class="header container">
  <div class="row">
    <div class="twelve columns">
      <nav class="nav">
        <ul class="nav-items">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/work">Work</a></li>
          <li><a href="{{ site.baseurl }}/services">Services</a></li>
          <li><a href="{{ site.baseurl }}/quote">Quote</a></li>
        </ul><!--/.nav-items-->
      </nav><!--/.nav-->
    </div><!--/.columns-->
  </div><!--/.row-->
</header><!--/.header-->
