//-------------------------------------------------------------------
//  Base
//-------------------------------------------------------------------
* {
  box-sizing: border-box;
}
html {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
body {
  position: relative;
  margin: 0;
  font-family: $font-body;
  color: $color-body;
}
// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 500;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}
p {
  font-size: 1em;
}
a {
  color: $color-link;
  transition: color 0.3s ease-in-out;
  &:visited,
  &:hover,
  &.focus {color: $color-link-hover;}
}
// Media & Lists
img,
video{
  max-width: 100%;
  display: table;
}

ol,
ul {
  margin-left: 2rem;
  padding: 0 0 2.4rem;
}
ol {
  list-style-type: decimal;
}
ol ol {
  padding-bottom: 0;
}
ul {
  list-style-type: disc;
}
ul ul {
  padding-bottom: 0;
}
dt {
  font-style: italic;
}
dd {
  text-indent: 2rem;
}
pre,
code,
samp {
  background-color: $black;
  font-size: 1em;
  color: $white;
  //font-family: $font-monospace;
  line-height: 1;
}
// Tables
.table {
  th, td {
    padding: .5em;
    text-align: left;
  }
  tbody>*:nth-child(2n-1) {
    background: $c-grey;
    // We use tbody to ensure that we don't shade the heading
  }
}
