//-------------------------------------------------------------------
//  Base
//-------------------------------------------------------------------
* {
  outline: 0;
}
html {

}
body {
  position: relative;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {

}
h1 {
  font-size: 4em;
}

h2 {
  @extend %txt-large;
}




.table {
  @extend %w-100;

  th, td {
    padding: .5em;
    text-align: left;
  }

  tbody>*:nth-child(2n-1) {
    background: $c-grey;
    // We use tbody to ensure that we don't shade the heading
    // this preserves the order of the shading
  }
}

// apply a smooth transition effect to an element's state change
.smooth {
  transition: all 0.2s;
}

.container {
  margin: 0 20px;
  width: auto;

  @media(min-width:1310px) {
    margin: auto;
    width: 1270px;
  }
}
