@if $import-buttons == true {
  //-------------------------------------------------------------------
  //  Buttons
  //-------------------------------------------------------------------
.btn,
.button {
  display: inline-block; // Enables non-inline-block elements like <a>s to be buttons
  border: 0;
  border-radius: 2px;
  outline: 0;
  color: $c-white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0.2em 0.3em 0.2em 0;
  padding: 8px 30px 10px;
  @extend %transition-ease;
  // Button base
  &.primary {
  		color: $white;
  		background: $primary;
  		&:hover {
  			background: $primary-dark;
  		}
  	}
  	&.accent {
  		color: $white;
  		background: $accent;
  		&:hover {
  			background: $accent-dark;
  		}
  	}
  	&.transparent {
  		color: $white;
  		background: transparent;
      border: 2px solid;
      border-color: $white;
  		&:hover {
        background: $white;
  			color: $black;
        border-color: darken($white,7%);
  		}
  	}
    // Button colors
    // Use helper classes to set colors (Ex. '<a class="btn transparent text-white"></a>)
    // Button sizes
    &.sm {
      padding: 7px 20px;
      font-size: 0.95em;
    }
    &.lg {
      padding: 15px 45px;
      font-size: 1.1em;
    }
    &.xl {
      padding: 25px 50px;
      font-size: 1.25em;
    }

}

//-------------------------------------------------------------------
// End @if
}
