@if $import-helpers == true {
//-------------------------------------------------------------------
//  Helpers
//-------------------------------------------------------------------

// Color classes
.text-primary {color: $primary;}
.text-accent {color: $accent;}
.text-white {color: $white;}
.bg-primary {background: $primary;}
.bg-accent {background: $accent;}
.bg-white {background: $white;}

// Font classes
.font-heading {font-family: $font-heading;}
.font-body {font-family: $font-body;}
.font-cursive {font-family: $font-cursive;}

// pads
.padded {
  padding: 50px;
}

//-------------------------------------------------------------------
// End @if
}
