/* Services
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.services {
  position: relative;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: $off-white;
}
// Mixins
@mixin transition($arguments...) {
  -webkit-transition: $arguments;
  transition: $arguments;
}
@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
}

.services-cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}
.service-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 350px;
  flex: 0 1 350px;
}
.service-list {
  text-align: left;
}
.service-action {
  color: inherit;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}
.icon {
  svg {
    height: 50px;
    margin: 0 auto;
  }
}

.services-wrap {
  .service-item {
    padding: 2em;
    cursor: default;
    color: $accent;
    margin: 0.625em;
    border: 2px solid $color-grey;
    background: $white;
    max-width: 350px;
  }
}
.services-wrap {
  .service-item {
    @include transition(all 0.5s ease);
    .service-title {
      @include transition(all 0.2s ease);
    }
    &.one:hover {
      border-color: $accent;
      .service-title {
        //color: #fff;
      }
    }
    &.two:hover {
      border-color: $accent-dark;
      .service-title {
        //color: #fff;
      }
    }
    &.three:hover {
      border-color: $accent;
      .service-title {
        //color: #fff;
      }
    }

  }

  .service-title {
    text-transform: uppercase;
    font-size: em(22);
    font-weight: 500;
    margin: auto;
    padding: 0;
    border-bottom: 2px solid;
    width: auto;
    display: block;
  }
  .one {
    .service-title {
      border-color: $border-light;
    }
  }
  .two {
    .service-title {
      border-color: $border-light;
    }
  }
  .three {
    .service-title {
      border-color: $border-light;
    }
  }
  .icon {
    font-size: 3em;
    margin: 0 0 0.5em;
    color: $black;
  }
  .service-price {
    font-size: 2em;
    margin: 0 0 0.5em;
    font-weight: bold;
    padding: 15px;
  }
  .one {
    color: $accent;
  }
  .two {
    color: $accent;
  }
  .three {
    color: $accent;
  }
  .service-currency {
    font-size: 0.4em;
    vertical-align: super;
  }
  .service-period {
    font-size: 0.35em;
    padding: 0 0 0 0.5em;
    color: #646D5B;
  }
  .service-list {
    margin: 0;
    padding: 0.25em 0 5em;
    list-style: none;
    text-align: center;
    color: #81867D;
  }
  .service-feature {
    font-weight: 100;
    padding: 10px;
    border-bottom: 1px solid $color-grey;
  }
  .service-action {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
    padding: 1.3em 2em;
    @include border-radius(5px);
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .one {
    .service-action {
      //background: red;
      &:hover,
      &:focus {
        color: #fff;
        //background: red;
      }
    }
  }
  .two {
    .service-action {
      //background: red;
      &:hover,
      &:focus {
        color: #fff;
        //background: red;
      }
    }
  }
  .three {
    .service-action {
      //background: red;
      &:hover,
      &:focus {
        color: #fff;
        //background: red;
      }
    }
  }
}
