/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home {}
.hero {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  &.bg-img {
    background: url('http://nodivide.imgix.net/content/backgrounds/project-planner-site.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 100;
  }
  &.overlay {
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $primary;
      top: 0;
      left: 0;
      opacity: 0.8;
      z-index: 101;
    }
  }
  * { //overlay zindex fix
    position: relative;
    z-index: 102;
  }

  .hero-logo {
    font-size: em(60);
    font-weight: 100;
    font-family: $font-cursive;
    color: $off-white;
    margin: 20px auto;
    @media (min-width: $screen-sm) {
      margin: 225px auto 0;
    }
  }
  .hero-title {
    color: $white;
  }
  .hero-intro {
    width: 55%;
    margin: 0 auto;
    font-size: em(18);
    color: $white;
    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }

}

.recent-work {
  position: relative;
  height: 500px;
  background: $black;
  color: $white;
  &.one {}
  &.two {background: $primary;}
  .bg-image {
    position: relative;
    height: 100%;
    background-image: url('//cdn.shopify.com/s/files/1/1060/7508/t/12/assets/home-featured-1.jpg?11463938212212373659');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pad-text {
    padding-top: 5%;
    &.left {
      padding-left: 8%;
    }
    &.right {
      padding-right: 8%;
    }
  }
}

// Hello
.hello {}

// Services
.services {}

// Call to Action
.action {
  margin: 0 auto;
  padding: em(60) 0 em(80);
  text-align: center;
  color: $white;
}

.scroll-it {
	position: absolute;
	left: 50%;
	bottom: 5vh;
  padding: em(10);
	display: block;
	text-align: center;
	text-decoration: none;
	text-shadow: 0;
	width: 25px;
	height: 25px;
	border-bottom: 2px solid $white;
	border-right: 2px solid $white;
	z-index: 201;
	transform: translate(-50%, 0%) rotate(45deg);
	animation: fade_move_down 2s ease-in-out infinite;
}
// scrolldown: USAGE: animation: name 1s ease-in-out infinite;
@keyframes fade_move_down {
0% {
  transform: translate(0, -10px) rotate(45deg);
  opacity: 0;
}
50% {
  opacity: 1;
}
100% {
  transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
}
}
