/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  border-bottom: 2px solid $border-light;
  z-index: 200;
}
.nav {
  padding: 20px 0;
}
.nav-items {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style: none;
  li {
    float: left;
    margin: 0;
  }
  li a {
    color: $white;
    font-size: em(18);
    padding: 0 25px;
    text-decoration: none;
    &:hover {
      color: darken($white,15%);
    }
  }
}
