// ------------------------------------------------------------------
//  Interior layouts
// ------------------------------------------------------------------
// interior body classes
body {
  &.nav-dark {
    .nav { background: $black; }
    .nav-items li a {color: $white; }
  }
}
.page-header {
  position: relative;
  &.bg-img {
    background: url('http://nodivide.imgix.net/content/backgrounds/project-planner-site.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 101;
  }
  &.overlay {
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $accent;
      top: 0;
      left: 0;
      opacity: 0.8;
      z-index: 100;
    }
  }
  .page-title,
  .page-tagline {
    color: $white;
    position: relative;
    z-index: 102;
  }
}
.page-content {
  position: relative;
}


ul.row {
  list-style: none;
  margin: 0;
  padding: 0;
  .img-item-lg {
    border-right: 1px solid $border-light;
    &:last-child {border-right: none;}
    img {
      width: 60%;
      max-width: 350px;
      margin: 0 auto em(30);
    }
  }
  .img-item {
    border-top: 1px solid $border-light;
    border-right: 1px solid $border-light;
    &:last-child {border-right: none;}
    img {
      margin: 0 auto em(15);
    }
  }
}
