/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  position: relative;
  margin: 0;
  text-align: center;
  //background-color: transparent;
}
.nav {
  padding: 20px 0;
  border-bottom: 1px solid $border-light;
}
.nav-items {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
    margin: 0;
  }
  li a {
    color: $color-link;
    padding: 0 15px;
    text-decoration: none;
    &:hover {
      color: $color-link-hover;
    }
  }
}
