// ------------------------------------------------------------------
//  Variables
// ------------------------------------------------------------------

// Colors: Brand
$primary:          #6F5060; //dim red
$primary-dark:     darken($primary,7%);
$accent:           #51344D; //slate red
$accent-dark:      darken($accent,7%);

// Colors: Site
$color-body:       #444444;
$color-link:       #444444;
$color-link-hover: darken($color-link,7%);
$black:            #2e2e2e;
$white:            #ffffff;
$off-white:        #fafafa;
$border-light:     #eeeeee;

// Dark Colors
$c-black:          #000;
$c-off-black:      #999;
$color-darker:     #888;
$color-dark:       #777;

// Medium Colors
$c-grey-dark:      #aaa;
$color-grey:       #ccc;
$c-grey-light:     #eee;

// Light Colors
$c-white:          #fff;

// Inputs
$c-focus:          #5ab;

// Fonts
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-cursive: 'Pacifico', cursive;
$font-path: '../assets/fonts';

// Media Sizes
$screen-xxs: 400px;
$screen-xs: 550px;
$screen-sm: 750px;
$screen-md: 1000px;
$screen-lg:1200px;
$screen-xl: 1550px;

// Extends
%transition-ease {
  transition: 0.2s ease;
}
%no-underline {
  text-decoration: none;
}
// shared large text size
%txt-large {
  font-size: 2em;
}
// shared smaller text size
%shared-font-size {
  font-size: 14px;
}

// Mixins
// Converts px to ems;
// USAGE: font-size: em(20);
$browser-context: 16; // Default px size = 16
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
