---
layout: default
tagline: fjdsakfjdsk fjasdkf
---

<div class="page-interior">

<div class="section page-header bg-img overlay pad">
  <div class="container">
    <div class="row">
      <div class="col c12">
        <h1 class="page-title">{{ page.title }}<span class="text-primary">.</span></h1>
        <h4 class="page-tagline">{{ layout.tagline }}</h4>
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.section.page-->

{{ content }}

</div><!--/.page-interior-->
